.form-group {
  display: flex;
  height: 55px;
}

.form-group.for-text-area {
  height: 80px;
}

.control-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
}

.form-group.focused .control-label {
  opacity: 1;
  transform: scale(0.75);
}

.form-control {
  align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
  transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
  color: #bbb;
}

select.form-control.time {
  margin-left: 10px;
  margin-right: 10px;
}

.bootstrap-tagsinput {
  width: 100%;
  font-size: 20px;
}

.has-feedback label ~ .form-control-feedback {
  top: 20px;
  font-size: 16px;
}